<nav>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li *ngIf="auth.isLoginSubject | async">
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li *ngIf="!(auth.isLoginSubject | async)">
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li *ngIf="auth.isLoginSubject | async">
      <button type="submit" (click)="logout($event)">Logout</button>
    </li>
  </ul>
</nav>
