<div class="dashboard-wrapper">
  <div class="month-wrapper">
    <button class="nav-button" (click)="prevMonth()" [disabled]="isAtMinMonth">&#60;</button>

    <div class="month">
      <h3>{{ currentMonth.name }}</h3>
    </div>

    <button class="nav-button" (click)="nextMonth()" [disabled]="isAtMaxMonth">&#62;</button>
  </div>

  <div class="month-recomandation-wrapper">
    <button
    class="month-box"
    *ngFor="let m of monthKeys"
    (click)="switchMonth($event, m)"
    [class.selected]="isSelectedMonth(m)"
    >
      <h3>{{m}} </h3>
    </button>
  </div>

  <div class="day-wrapper">

    <div class="weekday" *ngFor="let day of weekdays">{{ day }}</div>
    <div *ngFor="let _ of getOffset(currentMonth)" class="day placeholder"></div>
    <div
      class="day"
      *ngFor="let day of getDaysInMonth(currentMonth)"
      [class.selected]="isSelected(currentMonthIndex, day)"
      [class.past]="isPastDay(currentMonthIndex, day)"
      [class.hasEntry]="hasEntry(day)"
      (click)="toggleDay(currentMonthIndex, day)"
    >
      {{ day }}
    </div>
  </div>
  <div class="event-wrapper" *ngIf="selectedDay && getEventsForSelectedDay().length > 0">
    <h3>Anfragen am {{ selectedDay.day }}. {{ months[selectedDay.monthIndex].name }}</h3>

    <div class="event" *ngFor="let event of getEventsForSelectedDay()">
      <strong>{{ formatTime(event.timestamp_start) }} - {{ formatTime(event.timestamp_end) }}</strong>
      <p><strong>Kunden:</strong> {{ event.clients }}</p>
      <p><strong>Kommentar:</strong> {{ event.comment || '–' }}</p>
      <p><strong>Status:</strong> {{ event.state === 0 ? 'Pending' : 'Confirmed' }}</p>

      <div class="event-actions">
        <button class="event-button" (click)="onReject($event, event.id)"><h3>Ablehnen</h3></button>
        <button class="event-button" (click)="onEdit($event, event.id)"><h3>Bearbeiten</h3></button>
        <button class="event-button" *ngIf="event.state === 0" (click)="onAccept($event, event.id)"><h3>Annehmen</h3></button>
      </div>
    </div>
  </div>
</div>
