.dashboard-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
  background-color: white;
  border-size: 2px;
  border-color: black;
}

.month-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-button {
  height: 40px;
  width: 40px;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  background-color: white;
  cursor: pointer;
}

.nav-button:not(:disabled):hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

.nav-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.month {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 150px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.day-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding-top: 10px;
  justify-items: center;
  width: 100%;
}

.weekday {
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}


.day {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}


.day.selected {
  border: none;
  background-color: black;
  color: white;
  border-radius: 50%;
  transition: all 0.3s;
}

.day.placeholder {
  visibility: hidden;
}

.day.past {
  background-color: #f0f0f0;
  color: #aaa;
  border-style: dashed;
  pointer-events: none;
}

.day:not(.past):not(.selected):hover {
  background-color: black;
  transition: all 0.3s;
  color: white;
}


.day.hasEntry {
  background-color: #ADD8E6;
  color: black;
  border: none;
}

.month-recomandation-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.month-box {
  border: none;
  display:flex;
  background: #eaeaea;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 45%;
}

.month-box h3 {
  font-size: 12px;
}

.month-box:not(.selected):hover {
  background-color: black;
  transition: all 0.3s;
  color: white;
}

.event-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.event {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 10px;
  margin: 5px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s;
}

.event-actions {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.event-button{
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border: none;
  width:100%;
}
.event-card p {
  margin: 0.25rem 0;
  font-size: 0.9rem;
}

.event-button:hover{
  background-color: black;
  color: white;
  transition: all 0.3s;
}

