body {
  background: #dde4e8;
  margin: 0;
  padding: 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  height: auto;
}


app-root {
  width: 1200px;
}

@media screen and (max-width: 800px) {
  app-root {
    width: 800px;
  }
}
